<%= render "devise/shared/error_messages", resource: @book %>
<%= render 'users/userinfo', user: @user %>
<%= render 'books/add_new_book', book: @book%>
<div class="">
  <h2>Books</h2>
  <ul>
    <% @books.each do |book| %>
      <li>
        <div class="">
          <% u = @users.find{|u| u.id == book.user_id} %>
          <%= link_to user_path(u) do %>
            <%= attachment_image_tag u , :profile_image, :fill, 60, 60, format: 'jpeg', class: " profile-img", fallback: "no_image.jpg" %>
          <% end %>
        </div>
        <%= link_to user_path(u) do %>
          <%= book.title %>
        <% end %>
        <%= book.body %>
      </li>
    <% end %>
  </ul>
</div>
